body {
	margin: 0;
	font-family: sans-serif;
}

#dark-filter {
	z-index: 0;
	/*box-shadow: inset 100vh 100vw 10px rgba(0, 0, 0, 0.7);*/
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));*/
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
}

.container-plats {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.plat {
	border: 1px solid rgb(213, 213, 213);
	padding: 10px;
	border-radius: 2px;
}

#panier-container {
	z-index: inherit;
	width: 50%;
	border: 1px solid rgb(213, 213, 213);
	display: none;
	padding: 20px;
	margin: 20px 0;
}

.plat-panier {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgb(228, 228, 228);
}

#achat-container {
	display: none;
	position: absolute;
	padding: 30px;
	z-index: 150;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	background-color: #e69825;
	border-radius: 5px;
}

.bank-account-container {
	position: relative;
	width: 80%;
	height: 30px;
	/*border: 1px solid rgb(228, 228, 228);*/
	border-radius: 3px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.21);
}

.bank-account-status {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(83, 200, 48);

	animation-duration: 10s;
	animation-timing-function: ease;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes emptyAccount {
	0% {
		background-color: rgb(83, 200, 48);
		width: 100%;
	}
	50% {
		background-color: rgb(205, 214, 34);
	}
	100% {
		background-color: rgb(222, 32, 32);
		width: 0%;
	}
}
